/* start Container Style */
.container{
    background-color: #F5F5F5;
    max-width: 85%;
    margin: auto;
}
/* end Container Style */
/* start styles of  navbar */
.navbar .allContents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBarBrand {
    color: #fff;
    margin: 6px 8px 0px 0px;
}
@media (min-width: 576px) {
    .navBarBrand {
        color: #fff;
        margin: 4px 8px 0px 120px;
    }    
    }

.searchIcon{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.ContainerInput{
    margin-left: 25px;
}
@media (min-width: 992px) { 
    .ContainerInput{
     display: none;
    }
}


 .inputSearch{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 5px 21px 4px 35px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #1c1c1d;
    border-radius: 15px;
}
.inputSearch:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
@media (min-width: 992px) { 
    .form-inline{
     display: flex;
     justify-content: center;
    }
}
.loginButton,.registerButton{
    border-radius: 14px;
    border:1px solid #fff !important;
    padding: 4px 10px;
    width: 85px;
}
.loginButton{
 
    background-color: transparent;
    color: #fff;
    margin-right: 54px;
}
.registerButton{
    background-color: #fff;
    color: #00A47C;
}
.loginText,.registerText{
    font-size: 13px;
    text-transform: uppercase;
}
.registerText{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
/* end styles of navbar */
/* start fixedDiv Style */

.fixedDiv{
    width: 100%;
    background: #fff;
}
/* end fixedDiv Style */
/* start News Card Style */
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 15px 20px;
    background: #fff;
    width: 85%;
    margin:0px auto 22px;
    border-radius: 12px;
}
.card .newsContent{
    display: flex;
    justify-content: space-between;
}
.card .newsContent .newsInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card .newsContent .imageWithTitle{
    display: flex;
    align-items: center;
}
.card .newsContent .imageWithTitle img{
width: 30px;
height: 30px;
margin-right: 12px;
}
.card .newsContent .imageWithTitle .title{
    font-weight: 700;
    }
.card .newsContent .wifi{
    transform: rotate(45deg); 
}
.card .newsTitle{
    margin-top: 12px;
}
.card .newsTitle p{
    font-size: 20px;
}
.card .newsDate{
color: #627688;
}
.card .newsDate p{
   margin-bottom: 0px;
   margin-top: 0px;
    }
.card hr{
    border: 1px solid #EEE;
    width: 100%;
}
.card .keywords{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card .keywords .Keyword{
    border-radius: 12px;
    border:1px solid #00A47C;
    padding: 0px 10px 3px;
    margin-right: 4px;
    margin-bottom: 5px;
}
/* end News Card Style */
